
.carousel-2{
    background-image:linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0, 0,0.5) 100%), url(../img/evacuacion.jpg);
    background-size: cover;
    background-position: bottom;
}
.carousel-1{
    background-image:linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0, 0,0.5) 100%), url(../img/proteccion.jpg);
    background-size: cover;
    background-position: bottom;
}

.arriba {
    position: fixed;
    right: 22px;
    text-align: center;
    line-height: 50px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(180, 180, 180, 0.7);
    border-radius: 25px;
    color: #fff;
    vertical-align: middle;
    z-index: 999;
    transition: 1s all;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

$font-family-sans-serif:  'Inter', sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";